<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183040401024-j2k3igb28840tdq0kgtmns3qb51dltih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183040401024-j2k3igb28840tdq0kgtmns3qb51dltih</string>
	<key>API_KEY</key>
	<string>AIzaSyBXolgPqDjGEdtvG_oaVfKQiltQdpljbkY</string>
	<key>GCM_SENDER_ID</key>
	<string>183040401024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mertgaygusuz.EksiSozlukApp</string>
	<key>PROJECT_ID</key>
	<string>eksi-sozluks</string>
	<key>STORAGE_BUCKET</key>
	<string>eksi-sozluks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183040401024:ios:0eb25fc0235831835a5065</string>
</dict>
</plist>